@import 'mainPage.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'mainContent.scss';
@import 'button.scss';
@import 'mainContentSlider.scss';
@import "slider.scss";
@import "registration.scss";
@import "pageHelp.scss";
@import "pageHelpModal.scss";
@import "globalSearch.scss";
@import "summary.scss";
@import "pageError.scss";

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}